body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0px;
}
h1{
    font-size: 50px;
} 
.orange_name_highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    
    
}
.half-width p{
    color:purple;
    font-weight: bolder;
}
.top-banner{
    background-image:url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link{
    border:300px, 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding: 10px, 20px;
    background-image: linear-gradient(45deg, salmon,tomato);
}
.second_halfWidth{
    width: 40%;
    margin-left:5%;
    padding-left:2%;
    float:left;

}
.second_halfWidth img{
    height: 100%;
    width: 100%;
}

.second_halfWidth a{
    
        
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        color: white;
        padding: 10px, 20px;
        background-image: linear-gradient(45deg, salmon,tomato);

}
.second_halfWidth p{
    color: purple;
    font-weight: bolder;
}

.second_banner{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    float:left;
}
.section{
    height: 500px;
    padding-bottom: 150px;
}

.bottom{
    
    
}

.bottomHalfWidth1{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    width: 100%;
    height: 100%;
    float:left;
    
}
.bottomHalfWidth2{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    width: 100%;
    height: 100%;
    float:left;
    
}

.experience {
    max-width: 1140px;
    padding: 60px 0;
    margin: auto;
    clear: both;
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
  }
  .half-width {
    max-width: 50%;
    float: left;
  }
  .half-width-single {
    max-width: 40%;
    float: left;
    margin: 0px 15px 20px 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
    height: 80%;
    
  }
  #full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, salmon, tomato);
    border-image-slice:1;
  }
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, salmon, blue);
    border-image-slice:1;

}
footer p{
    text-align: center;
    color:black;
    font-weight: bold;
}

