body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0px;
}
h1{
    font-size: 50px;
} 
.name_highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
    height: 100%;
}
.half-width p{
    color:purple;
    font-weight: bolder;
}
.top-banner{
    background-image:url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding: 10px, 20px;
    background-image: linear-gradient(45deg, salmon,tomato);
}
.second_halfWidth{
    width: 40%;
    margin-left:5%;
    padding:2%;
    float:left;

}
.second_halfWidth img{
    height: 100%;
    width: 100%;
}

.second_halfWidth a{
    
        border: 1px solid tomato;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        color: white;
        padding: 10px, 20px;
        background-image: linear-gradient(45deg, salmon,tomato);

}
.second_halfWidth p{
    color: purple;
    font-weight: bolder;
}

.second_banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    float:left;
}
.section{
    height: 500px;
}